@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.75;
    z-index: -1;
}